# Data 607  &mdash; Assignment 3

## Instructions

**Submit a .ipynb file and a Colab link to the your solutions to the appropriate D2L dropbox by 23:59 on Sunday, April 9th. For the Colab link, make sure that the permission is set to "Anyone on the internet with this link can view".**

## 1. Can regularizing the linear model help?

In this exercise, we attempt to predict life expectance. Please find the data from D2L.

1. Implement the following:
   For `i` from 1 to 10000:

   - Construct a boostrap replicate `(X_tr, y_tr)` of the dataset `(X, y)`.
   - Form the complementary testing set `(X_te, y_te)` consisting of all elements of the original dataset that don't belong the bootstrap replicate.
   - Standardize `X_tr` and `X_te` using `StandardScaler`.
   - Fit
     1. A linear regression model, and
     2. A ridge regression model with parameter $\alpha=1.0$

     to the data. Record the the MSE on `(X_te, y_te)`.

2. On the same axes, plot the distributions (histograms) of the test MSES for the linear regression model and for the ridge regression model. Compute the means and standard deviations of these distributions. Indicate the means on your plot.

3. Use an appropriate statistical test to test the null hypothesis *the means of the two MSE disributions are the same*. Summarize: Is ridge regression an improvement on linear regression for this dataset?

## 2. Feature engineering for time series forecasting

The goal of this exercise is to forecast demand of Australian wine. We use a dataset containing monthly sales figures between January, 1980 and July, 1995. For our convenience, I'm hosting a copy of the data on my GiHub page:

In [ ]:
import pandas as pd

df = pd.read_csv("https://gist.githubusercontent.com/mgreenbe/8d37a66d545e132c605d5c79061f42a3/raw/9ee80a5c9f412dc31aab2ed0d59e9430a0ae97c4/australian_wine.csv")
df

    YearMonth   Red  Sparkling  Sweetwhite
0     1980-01   464       1686          85
1     1980-02   675       1591          89
2     1980-03   703       2304         109
3     1980-04   887       1712          95
4     1980-05  1139       1471          91
..        ...   ...        ...         ...
182   1995-03  2459       1897         188
183   1995-04  2618       1862         195
184   1995-05  2585       1670         189
185   1995-06  3310       1688         220
186   1995-07  3923       2031         274

[187 rows x 4 columns]

1. In forecasting problems, it's important to reserve the **most recent** data for testing rather than splitting the data randomly into training and testing subsets. Why?

2. Train a linear regression model, predicting **red wine sales** as a function of the **time index**, i.e., the number of months after January, 1980. Train your model on the first 150 observations. Test on the remainder. Report both training and testing MSE. Plot the dataset, overlaid with your forecast. Critique your model.

3. Add a column `Year` to the dataset for *years after 1980*. For each month of the year, add a corresponding binary indicator column (consider using `pandas.get_dummies`).  Repeat 2., but regressing red wine sales onto the thirteen new columns (1 year column + 12 month indicator columns) instead of onto the time index. Comment.